* {
    margin: 0px;
    line-height: 1.6;
    overflow-x: hidden;
    overflow-y: hidden;
}

html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(https://starwarsblog.starwars.com/wp-content/uploads/2020/04/star-wars-backgrounds-25.jpg);
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    width: 60%;
    margin: auto;
}

h1 {
    font-size: 60px;
    color: #1deffd;
    text-align: left;
}

h2 {
    font-size: 84px;
    color: yellow;
    text-align: center;
}

h3 {
    font-size: 96px;
    color: yellow;
    text-align: center;
}

p {
    font-size: 84px;
    color: yellow;
}

#song {
    position: absolute;
}

#intro {
    height: 100%;
    width: 60%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: aintro;
    animation-duration: 6s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    opacity: 0;
}

@keyframes aintro {
    0% {opacity: 0;}
    20% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}

#logo {
    height: 100%;
    width: 60%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation-name: alogo;
    animation-duration: 12s;
    animation-delay: 8s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes alogo {
    0% {opacity: 1; transform: scale(3.5);}
    99% {opacity: 0.9; transform: scale(0.05);}
    100% {opacity: 0; transform: scale(0);}
}

#textcontainer {
    position: absolute;
    margin: auto;
    width: 60%;
    height: 200%;
    left: 20%;
    bottom: 0;
    text-align: justify;
    transform-origin: 50% 100%;
    transform: perspective(350px) rotateX(20deg) scale(1.5);
}

#text {
    position: absolute;
    top: 100%;
    animation-name: atext;
    animation-duration: 73s;
    animation-delay: 17s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes atext {
    0% { top: 100%; opacity: 1;}
    99% { top: -200%; opacity: 0.9;}
    100% { top: -200%; opacity: 0;}
  }
